.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0 92px 0;
  position: relative;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding: 0 0 88px 0;
  }
}
@media screen and (max-width: 425px) {
  .lead {
    margin: 0;
    padding: 0 0 64px 0;
  }
}
