.place__paragraphs {
  grid-area: paragraph;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
@media screen and (max-width: 320px) {
  .place__paragraphs {
    align-self: center;
    padding-left: 16px;
  }
}
