.place__website {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 456px;
    min-height: 46px;

}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
        min-height: 46px;
    }
}
@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
        min-height: 46px;
        order: 2;
    }
}